<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout.html}"
      th:with="title=${#messages.msg('index.title')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org/">
<body>
<th:block layout:fragment="body">

    <div th:if="${user==null}">
        <p>Login to obtain token needed for swagger requests.</p>
        <form method="post" th:action="@{/oauth2/authorization/muni}">
            <button class="btn btn-outline-primary" type="submit">Login MUNI</button>
        </form>
    </div>


    <div th:if="${user}">
        <h2 class="mt-5"> Log Out </h2>
        <form method="post" th:action="@{/logout}">
            <button class="btn btn-outline-primary" type="submit">Logout</button>
        </form>

        <h2 class="mt-5"> Access Token</h2>
        <p id="token" th:text="${token}"></p>
        <button class="btn btn-outline-primary" onclick="copyToClipboard()">Copy token to clipboard</button>
        <script>
            function copyToClipboard() {
                const token = document.getElementById("token").innerText;
                navigator.clipboard.writeText(token);
            }
        </script>

        <h2 class="mt-5"> User Info </h2>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">subject</th>
                <td th:text="${user.subject}"></td>
            </tr>
            <tr>
                <th scope="row">name</th>
                <td th:text="${user.fullName}"></td>
            </tr>
            <tr>
                <th scope="row">given_name</th>
                <td th:text="${user.givenName}"></td>
            </tr>
            <tr>
                <th scope="row">family_name</th>
                <td th:text="${user.familyName}"></td>
            </tr>
            <tr>
                <th scope="row">email</th>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <th scope="row">email_verified</th>
                <td th:text="${user.emailVerified}"></td>
            </tr>
            <tr>
                <th scope="row">zoneinfo</th>
                <td th:text="${user.zoneInfo}"></td>
            </tr>
            <tr>
                <th scope="row">locale</th>
                <td th:text="${user.locale}"></td>
            </tr>
            <tr>
                <th scope="row">preferred_username</th>
                <td th:text="${user.preferredUsername}"></td>
            </tr>
            <tr>
                <th scope="row">picture</th>
                <td><img alt="image" src="" th:if="${user.picture!=null}" th:src="${user.picture}"></td>
            </tr>
            <tr th:if="${user.getClaimAsStringList('eduperson_scoped_affiliation')}">
                <th scope="row">eduperson_scoped_affiliation</th>
                <td>
                    <ul>
                        <li th:each="affiliation: ${user.getClaimAsStringList('eduperson_scoped_affiliation')}"
                            th:text="${affiliation}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</body>
</html>